@using Microsoft.AspNetCore.Identity
@using WorkoutTrackerMvc.Models.WorkoutSessionViewModels
@inject UserManager<ApplicationUser> UserManager

@model WorkoutSessionsWithUserViewModel

@{
}
@section Scripts{
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
}
    <div class="workout-container">
        <div class="workout-container-button-section">
            <form method="post">
                <button class="button-success" type="submit" asp-area="" asp-controller="WorkoutSession" asp-action="AddWorkoutSession" asp-route-userId="@UserManager.GetUserId(@User)"><i data-feather="plus-circle"></i> New session</button>
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Score
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model is not null)
            {
                @foreach (var item in Model.workoutSessions)
                {
                    <tr>
                        <td>
                            
                            @Html.Raw(item.WorkoutDate.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.WorkoutScore)
                        </td>
                        <td class="action-section">
                            <div class="dropdown">
                                <button class="dropbtn">Actions <i data-feather="chevron-down"></i></button>
                                <div class="dropdown-content">
                                    <a asp-area="" asp-controller="WorkoutSession" asp-action="WorkoutSessionDetail" asp-route-workoutSessionId="@item.WorkoutSessionId">Details</a>
                                    <a asp-area="" asp-controller="WorkoutSession" asp-action="DeleteWorkoutSession" asp-route-workoutSessionId="@item.WorkoutSessionId">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
