@using Microsoft.AspNetCore.Identity
@using WorkoutTrackerMvc.Models.WorkoutSessionViewModels
@inject UserManager<ApplicationUser> UserManager

@model WorkoutSessionsWithUserViewModel

@{
}

<a asp-area="" asp-controller="WorkoutSession" asp-action="AddWorkoutSession" asp-route-userId="@UserManager.GetUserId(@User)">Add new Session</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.workoutSessions.FirstOrDefault().WorkoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workoutSessions.FirstOrDefault().WorkoutScore)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model is not null)
        {
        @foreach(var item in Model.workoutSessions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.WorkoutDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.WorkoutScore)
                </td>
                <td>
                    <a asp-area="" asp-controller="WorkoutSession" asp-action="DeleteWorkoutSession" asp-route-workoutSessionId="@item.WorkoutSessionId">X</a>
                    |
                    <a asp-area="" asp-controller="WorkoutSession" asp-action="WorkoutSessionDetail" asp-route-workoutSessionId="@item.WorkoutSessionId">Details</a> 
                </td>
            </tr>
        }
        }
    </tbody>
</table>
