@using WorkoutTrackerMvc.Models.WorkoutSessionViewModels
@model WorkoutSessionDetailViewModel

@{
    ViewData["Title"] = "Workout Session Details";
}

<div>
    Workout Session Details - @Model.date
</div>

@section Scripts{
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
}
<div class="workout-container">
    <div class="workout-container-button-section">
        <form>
            <button class="button-success" type="submit" asp-area="" asp-controller="Exercise" asp-action="ExerciseDetail" asp-route-Id="@Model.workoutSessionId"><i data-feather="plus-circle"></i> New Exercise</button>
        </form>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.exercises.FirstOrDefault().Name)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.exercises is not null)
        {
        @foreach(var item in Model.exercises)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td class="action-section">
                    <div class="dropdown">
                        <button class="dropbtn">Actions <i data-feather="chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Exercise" asp-action="EditExerciseDetail" asp-route-exerciseId="@item.ExerciseId" asp-route-workoutSessionId="@item.WorkoutSessionId">Details</a>
                            <a asp-area="" asp-controller="Exercise" asp-action="DeleteExercise" asp-route-exerciseId="@item.ExerciseId" asp-route-workoutSessionId="@item.WorkoutSessionId">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        }
    </tbody>
</table>
</div>